{% extends "root/base.html.j2" %}

{% block inputs %}

    {{ form.hidden_tag() }}
    
    {% for field in form 
        if field.widget.input_type != 'hidden' %}

        <div>
            {{field.label}}
            {{field}}
        </div>
        
    {% endfor %}

    <input type="submit" value="Edit" class="btn btn-warning">

{% endblock inputs %}